/* reset defaults */
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Khula', sans-serif;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
img {
    vertical-align: middle;
    width: 100%;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}

input:focus, input:hover {
    outline: none;
}
/* end reset */

#video-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#video-container video {
    width: 100%;
    z-index: 0;
}

.bg-container {
    width: 100%;
    position: relative;
}

.main-content {
    background: linear-gradient(to right, #2585C2,  #2585C2, transparent );
    color: #fff;
    z-index: 10;
    position: relative;
    padding-left: 125px;
    /* max-width: calc(650px); */
    width: 780px;
    min-width: 389px;
}


.input-data.user-inp input, .input-data.lbl , .bottom-btn input[type="text"],
.bottom-btn input[type="submit"] {
    height: 45px;
}

.input-data {
    width: 300px;
    margin-bottom: 15px;
}

 .input-data.user-inp input{
    background: transparent;
    border-radius: 25px;
    padding: 11px 22px;
    display: block;
    width: 100%;
    border: 1.3px solid #fff;
    position: relative;
    font-size: 20px;
    color: #fff;
}

* {
    box-sizing: border-box;
}

nav {
    background: transparent;
    padding-left: 125px;
}

nav .logo img {
    width: 270px;
    z-index: 1000;
    position: relative;
}

.main-content {
    margin-top: -135px;
    padding-top: 160px;
}

.main-content .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.main-content .title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    
}


.main-content .title .lng-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F49AC0;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;

}

.top-input-fields .input-data:nth-child(n),
.bottom-input-fields .input-data:nth-child(n)  {
    float: left;
}

.top-input-fields .input-data:nth-child(2n),
.bottom-input-fields .input-data:nth-child(2n)  {
    float: right;
}

.top-input-fields .input-data:nth-child(2n):after,
.bottom-input-fields .input-data:nth-child(2n):after,
.bottom-btn .input-data:nth-child(2n):after,
.top-input-fields:after,
  {
    content:"";
    display: block;
    width: 100%;
    clear: both;
}

.top-input-fields input[name="time"],
.top-input-fields input[name="date-visit"] {
    padding-left: 38px;
}

.top-input-fields input {
    background: transparent;
    color: #fff;
}

.top-input-fields, .bottom-btn  {
    content:"";
    display: block;
    width: 100%;
    clear: both;
}

.input-data .input-icon {
    position: relative;
}

.input-data .input-icon i {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
}

.input-data h3 {
    width: 300px;
    border-radius: 25px;
    padding: 11px 22px;
    display: block;
    width: 300px;
    height: 45px;
    color: #6C9CD5;
    font-size: 16px;
    background: #fff;
    text-align: center;
    padding: 0;
    padding-top: 12px;
    font-weight: 300;
    box-sizing: border-box;
}

.input-data .lbl-2 {
    width: 235px;
    height: 45px;
    position: relative;
    border-radius: 25px;
    border: 1.2px solid #fff;
    box-sizing: border-box;
    padding: 5px 0;
    padding-right:80px;
    float: left;
}

.input-data.lbl .pricing-label {
    color: #6C9CD5;
    font-size: 16px;
    background: #fff;
    border-radius: 25px;
    height: 101%;
    width: 67%;
    top:0;
    left:-2px;
    position: absolute;
    /* border: 5px solid #fff; */
    padding-top: 7px;
    text-align: center;
}

.input-data.lbl .pricing {
    position: absolute;
    color: #fff;
    z-index: 50;
    right: 3px;
    /* top: 12px; */
    height: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
    padding-top: 9px;
    line-height: 100%;
    font-weight: bold;
}


.input-data.lbl input[type="text"] {

}

.input-section label {
    font-family: 'Montserrat', sans-serif;
}

#times {
    position: absolute;
    z-index: 1000;
    width: 300px;
    background: #58e2ed;
    border-radius: 25px;
    border: 1.5px solid #fff;
    display: none;
}

#times ul {
    list-style: none;
    display: block;
    
}

#times ul li {
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    transition: all .1s ease-in-out;
}



#times ul li:first-child {
    border-radius: 25px 25px 0 0;
}

#times ul li:last-child {
    border-radius: 0 0 25px 25px;
}

#times ul li:hover {
    background: #51ccd4;
}


.input-data .count {
    display: inline;
    position: relative;
    float: right;
    width: 50px;
}

.input-data .count input[type="text"] {
    border: none;
    position: absolute;
    width: 80px;
    right: 0;
    color: #fff; 
    height: 100%;
    font-size: 24px;
    background: transparent;
    text-align: right;
    padding-right: 20px;
    font-size: 24px;
}

.input-data .count:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.input-data .count .arrows {
    position: relative;
    width: 50px;
    height: 48px;
    
}

.input-data .count .arrows .fas {
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: .3s all ease-in-out;
}


.input-data .count .arrows .fas:hover {
    color: rgba(255, 255, 255, .6);
}

.input-data .count .arrows .fas.fa-chevron-up {
    top: 5px;
}

.input-data .count .arrows .fas.fa-chevron-down {
    bottom: 7px;
}

.input-data .count span {
    position: absolute;
    top: -3px;
    left: 9px;
    font-weight: bold;
    font-size: 35px;

}

.input-data .count input[type="text"] {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.input-section {
    position: relative;
}

.input-section:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.agree-section {
    width: 100%;
}

.agree-section p {
    display: inline-block;
}


.check-btn-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    width: 20px;
    height: 20px;
    /* background: #F49AC0; */
}

.check-btn-container input {
    display: none;

}

.check-btn-container .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: #eee; */
    position: absolute;
    left: 0;
    right: 0;
    /* background: #F49AC0;; */
    border: 2px solid #fff;
    /* background: rgba(240, 80, 80, 0.521); */
}
.agree-section .check-btn-container  input + .circle:after {
    /* background: none; */
}

.agree-section {
    margin-bottom: 20px;
}

.agree-section .check-btn-container  input + .circle:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
   z-index: inherit;
    border-radius: 50%;
    background: none;

}

.agree-section .check-btn-container  input.checked + .circle::after  {
    opacity: 1;
    background: #fff;
   
}


.input-data .total {
    position: relative;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
}

.input-data .total input{
    width: 300px;
    border: 1.2px solid #58E2ED;
    position: relative;
    /* width: 55%; */
    text-align: right;
    padding-right: 23%;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.input-data .total label {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 45%;
    border-radius: 25px 0 0 25px;
    background: #58E2ED;
    height: 100%;
    padding: 14px 0 0 0;
    font-size: 16px;
    z-index: 5;
}

.input-data .total input[type="text"] {
    background: transparent;
    border: 1.2px solid #58E2ED;
    height: 100%;
    border-radius: 25px;
}

.input-data input[type="submit"] {
    width: 100%;
    height: 45px;
    float: right;
    border-radius: 25px;
    background: #58E2ED;
    outline: none;
    border:1.2px solid #58E2ED;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.input-data input[type="submit"]:hover {
    background: rgba(88, 227, 237, 0.74);
}

.bottom-btn {
    margin-bottom: 4em;
}

.bottom-btn .input-data:nth-child(n) {
    float: left;
}

.bottom-btn .input-data:nth-child(2n) {
    float: right;
}

.bottom-btn .input-data:nth-child(2n)::after {
    content: '';
    display: block;
    width: 200%;
    clear: both;

}

.bottom-btn .input-data {
    height: 50px;
    position: relative;
}

.bottom-btn .total {
    position: relative;
    width: 100%;
    height: 100%;

}

.bottom-btn .total lable {

}


.main-content .input-section .input-data input.user-inp i {
    font-size: 16px;
    /* fonts does no work */
    font-family: 'Montserrat', sans-serif;
}

.paypal-logo {
    width: 90px;
    margin-bottom: 3px;
}

.pay-methods .payment-cards ul li {
    list-style: none;
    display: inline-block;
    margin-right: 4px;
}

.pay-methods .payment-cards ul li img {
    width: 42px;
}

.pay-methods .address {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 25px;
}

.pay-methods .address ul {
    list-style: none;
}

.pay-methods .address ul li {
    display: block;
    margin-bottom: 5px;
}

.pay-methods .address ul li span {
    font-weight: bold;
}

/* table styles */

.container {
    margin: 20px auto;
    max-width: 1000px;
}

.search-container {
    width: 100%;
    /* text-align: center; */
}

.search-container .search-div {
    display: inline;
    position: relative;
    height: 50px;
    /* text-align: center; */
}

.search-container .search-div input {
    height: 50px;
    margin: 5px 5px;
    display: inline-block;
}

.search-container .input-fields {
    /* margin: 0 auto; */
    /* display: flex; */
    width: 100%;
    padding: 10px;
}

.search-container .search-div input[type="text"],
.search-container .search-div input[type="date"] {
    border: 1.2px solid #fff;
    padding: 10px;
    background: transparent;
    color: #fff;
    font-size: 1.2em;
    padding-left: 35px;
    border-radius: 5px;
}

.search-container .search-div input[type="submit"] {
    width: 130px;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.877);
    font-size: 1.2em;
    text-align: center;
} 

.search-container .search-div input[type="text"]::placeholder,
.search-container .search-div input[type="date"]::placeholder {
    color: rgba(255, 255, 255, 0.712);
}

.search-container input[type="date"]::-webkit-inner-spin-button,
.search-container input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    -webkit-appearance: none;
    color: rgba(255, 255, 255, 0.712);
}

.search-container .search-div i {
    position: absolute;
    z-index: 5;
    left: 15px;
    top: 1px;
    font-size: 1.2em;
    color: #fff;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
    /* border: 10px solid red; */
    border-radius: 5px;
    box-shadow: 1px 3px 2px solid rgba(0, 0, 0, .3);
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3 ease;
    transition: all 0.3s ease;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    text-align: left;
    padding: 1.6rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3 ease;
    transition: all 0.3s ease;
}

.table > thead > tr > th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.12); */
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table ,table {
    background: #fff;
}

.table .no-border {
    border: 0;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 0.8rem;
}

.table-bordered {
    border: 0;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-bordered > tbody > tr:nth-child(odd) > th {
    background-color: #f5f5f5;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: rgba(0, 0, 0, 0.12);
}

body {
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 768px) {
    .table-responsive > .table {
        margin-bottom: 0;
        background-color: #fff;
    }

    .table-responsive > .table > thead,
    .table-responsive > .table > tfoot {
        display: none;
    }

    .table-responsive > .table > tbody {
        display: block;
    }

    .table-responsive > .table > tbody > tr {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        margin-bottom: 1.6rem;
    }

    .table-responsive > .table > tbody > tr > td{
        background: #fff;
        display: block;
        vertical-align: middle;
        text-align: right;
    }

    .table-responsive > .table > tbody > tr > td[data-title]:before{
        content:attr(data-title);
        float: left;
        font-size: inherit;
        font-weight: 400;
        color: #757575;
    }

    .table-responsive > .table-bordered {
        border: 0;
    }

    .table-responsive > .table-bordered > tbody > tr > td {
        border: 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .table-responsive > .table-bordered > tbody > tr > td:last-child{
        border-bottom: 0;
    }

    .table-responsive > .table-bordered > tbody > tr > td,
    .table-responsive > .table-bordered > tbody > tr:nth-child(odd){
        background: #fff;
    }

    .table-responsive > .table-bordered > tbody > td:nth-child(odd){
        background: #f5f5f5;
    }

    .table-responsive > .table-hover > tbody > tr:hover > td, 
    /* .table-responsive > .table-hover > tbody > tr:hover   */
    {
        background: rgba(0, 0, 0, 0.12);
    }
}


/* RESPONSIVE STYLES */

@media screen and (max-width: 1080px){

}

@media screen and (max-width: 1024px){

    #video-container video {
        display: none;
    }


    .main-content {
        padding: 0;
        /* width: 100%; */
        margin: 0 auto;
        width: 650px;
        background: rgba(37, 134, 194, 0.74);
        padding: 15px;
        border-radius: 25px;
    }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 800px) {

    
    .main-content {
        width: 90%;
        margin: 0 auto;
        background: rgba(37, 134, 194, 0.74);
        padding: 25px 15px;
        border-radius: 25px;
    }

    .input-data input[type="text"] {
        /* width: 100%; */
    }

    nav {
        background: transparent;
        padding-left: 50px;
    }
    
    nav .logo img {
        width: 150px;
        z-index: 1000;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .top-input-fields .input-data:nth-child(n),
     .bottom-btn .input-data:nth-child(n) {
        float: none;
    }
    
    .top-input-fields .input-data:nth-child(2n), 
    .bottom-btn .input-data:nth-child(2n)  {
        float: none;
    }

    .top-input-fields .input-data, .bottom-btn .input-data, .agree-section  {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    /* .input-data input[type="text"] {
        width: 100%;
        text-align: left;
    } */
    
}

@media screen and (max-width: 480px) {
    .top-input-fields .input-data, .bottom-btn .input-data, .agree-section  {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}